<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MVM CUSTOM">
    <meta name="author" content="A.K.">
    <link rel="shortcut icon" href="img/25.png" />

    <title>MVM CUSTOM</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">



    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleblog.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

	<header>
		<div class="header-full">
			<nav class="navbar navbar-default">
	            <div class="container">
	                <a href="#myPage"><img class="img-responsive logo-law" src="img/14.png" alt="logo-law" ></a>
	                <div class="navbar-header nav-inline">

						<ul class="nav navbar-nav navbar-right">
		                    <li>
		                    	<div class="menu-icon">
				                	<a href="#" class="icon-bars">
									  	<div class="icon-bar1"></div>
									 	<div class="icon-bar2"></div>
									  	<div class="icon-bar3"></div>
									</a>
								</div>
		                    </li>
		                    <li><a href="blog.html">Blog</a></li>
		                </ul>

		            </div>    
	            </div>
	        </nav>
	        <div class="welcome-header">
	            <h1>Welcome to MVM CUSTOM </h1>
	            <p>Transformed hundreds of homes across Nothern California, MVM CUSTOM has established itself as a leader in home renovations. Let us bring our expertise to your home! </p>
        	</div>



		
		



        	<div class="welcome-contact">
        		<div class="contact-info">
            		<p><i class="fa fa-phone"></i> Phone: + 1 279 900 7117</p><br>
            		<p><i class="fa fa-envelope"></i> Email: mvmcustom.inc@gmail.com</p>
            	</div>
            </div>
	    </div>
	    <div id="myNav" class="overlay">
		  	<div class="overlay-content">
		    	<a href="#about">About</a>
		    	<a href="#service">Services</a>
		    	<a href="#blog">Blog</a>
		    	<a href="#contact">Contact</a>
		  	</div>
		</div>

	</header>




	


	







	<section class="bg-section" id="about">
		<div class="section-h1">
			<h1>About us </h1>
			<hr class="hr-h1">
		</div>
		<div class="container-fluid">
			<div class="row slideanim">
					
				<div class="col-md-6 col-sm-6 no-padding img-bg">
					<img src="img/21.png"img-responsive img-me" alt="Profile-img">
				</div>

				<div class="col-md-6 col-sm-6 no-padding img-text">
						<div class="about-me">
			            	<h3 class="text-center"> Hey, This Is Vitalii , I Want To Say That MVM CUSTOM Is An Idea Come True, Faith In The Future Makes Us Stronger- Vitalii M</h3>
			            </div>

		                <div id="myCarousel" class="carousel slide img-txt-bg" data-ride="carousel">
		                    <!-- Indicators -->
		                    <ol class="carousel-indicators">
		                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		                      <li data-target="#myCarousel" data-slide-to="1"></li>
		                    </ol>

		                    <div class="carousel-inner" role="listbox">
		                      <div class="item active">
		                            <p>
		                            	 
Trust, service, and experience.  These qualities are critical to our approach and our success. MVM CUSTOM is a mission-driven firm that has built its reputation and portfolio around client-service, relationships, and core values.  Commitment to these principles has enabled us to grow steadily and organically and become a leading builder in the Bay Area.  

		                            	<br> 
									<br>
		                            	<br>
		                            	
		                            	<br>
		                            </p>
		                      </div>

		                      <div class="item">
		                            <p>
                                       
                                        -It’s our business to deliver the highest quality product to our clients. We define quality by identifying our clients’ unique needs and developing long-lasting, customized construction solutions that exceed their expectat
   
                            
		                            	<br> 
                                        - We firmly believe in proactively educating our employees, subcontractors, suppliers, and clients about efficient design, materials, construction costs, and building practices. Our shared goal of quality demands strong collaboration in learning.

		                            	<br> 
                                        - Through experience, extensive research, and information sharing, MVM CUSTOM  stays at the forefront of innovation, offering broad solutions to each unique build.


		                            </p>
		                      </div>
		                   
		                    </div>

		                    <!-- Left and right controls -->
		                    <a class="left carousel-control sr-only" href="#myCarousel" role="button" data-slide="prev">
		                      <span class="sr-only" aria-hidden="true"></span>
		                      <span class="sr-only">Previous</span>
		                    </a>
		                    <a class="right carousel-control sr-only" href="#myCarousel" role="button" data-slide="next">
		                      <span class="sr-only" aria-hidden="true"></span>
		                      <span class="sr-only">Next</span>
		                    </a>
		                </div>
	                
	            </div>
			</div>	
		</div>		
	</section>

	<section class="bg-section" id="service">
		<div class="section-h1">
			<h1>Services</h1>
			<hr class="hr-h1">
		</div>
        <div class="container-fluid">
        	<div class="row slideanim"> 
	        <div class="tabpanel" role="tabpanel">
	            <div class="col-md-3 col-sm-3">
	                <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
	                    <li role="presentation" class="brand-nav active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Residential Construction</a></li>
	                    <li role="presentation" class="brand-nav"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Commercial Construction</a></li>
	                    <li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Maintenance and Repairs</a></li>
	                    <li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Sustainable Construction</a></li>
	                </ul>
	            </div>
	            <div class="col-md-9 col-sm-9">
	                <div class="tab-content">
	                    <div role="tabpanel" class="tab-pane active slideanimleft" id="tab1">
	                    	<h3 class="laws">Residential Construction
                            </h3>
	                    	<hr class="laws-hr">
	                        <p>- Insulation</p>
							<p>- Painting and wall treatments</p>
							<p>- Flooring installation (tile, hardwood, carpet, etc.)</p>
	                        <p>- Drywall installation and finishing</p>
							<p>- Exterior and interior painting</p>
							<p>- Bathroom and kitchen remodel</p>
							<p>- Driveways, walkways, and patios</p>
							<p>- Deck and porch construction</p>
							<p>- Garage construction</p>
							<p>-  Fencing and gates</p>

	                    </div>
	                    <div role="tabpanel" class="tab-pane slideanimleft" id="tab2">
	                    	<h3 class="laws">Commercial Construction
                            </h3>
	                    	<hr class="laws-hr">
	                        <p>- Window and door installation</p>
							<p>- Drywall and plastering</p>
							<p>- Flooring installation (tile, hardwood, carpet, etc.</p>
	                        <p>- Drywall installation and finishing</p>
							<p>- Exterior and interior painting</p>
							<p>-Painting and wall coverings</p>
							<p>- Parking lots and paving</p>
							<p>- Fencing and gates</p>
							<p>- Sidewalks and curbs</p>




	                    </div>
	                    <div role="tabpanel" class="tab-pane slideanimleft" id="tab3">
	                    	<h3 class="laws">Maintenance and Repairs

                            </h3>
	                    	<hr class="laws-hr">
							<p> - Door and window repair or replacement</p>
							<p> - Cabinet repair or installation</p>
							<p>  - Interior and exterior painting</p>
	                        <p>- Appliance repair and maintenance</p>
							<p> - Tile and grout repair</p>
							<p> - Flooring repair (hardwood, tile, carpet, etc.</p>
							<p>- Power washing</p>
							<p>- Fence and gate repair</p>
							<p>- Structural repairs</p>
							<p>- Surface refinishing (floors, countertops, etc.</p>





	                    </div>
	                    <div role="tabpanel" class="tab-pane slideanimleft" id="tab4">
	                    	<h3 class="laws">Sustainable Construction
                            </h3>
	                    	<hr class="laws-hr">
	                        <p>
                                We incorporate sustainable building practices and eco-friendly materials to minimize environmental impact and create energy-efficient structures.

	                        </p>
	                        <p>
	                           
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        </div>
	    </div>    
		
	</section>






<head> 
<body>

	<section class="remodeling-section">
        <div class="container">
            
			<h1> Comprehensive Renovation Services, All Under One Roof
			</h1>
            <p>
			MVM CUSTOM, a multi-award-winning remodeling and construction company, offers a full range of services, from sought-after products to complete installations. With a team of highly skilled and seasoned professionals, our mission is to deliver exceptional craftsmanship and reliable, professional service to each client.

            </p>
            <div class="grid">
                <div class="grid-item"><img src="portfolio/1.png" alt="House 1"></div>
                <div class="grid-item"><img src="portfolio/2.png" alt="House 2"></div>
                <div class="grid-item"><img src="portfolio/3.png" alt="House 3"></div>
                <div class="grid-item"><img src="portfolio/4.png" alt="House 4"></div>
                <div class="grid-item"><img src="portfolio/5.png" alt="House 5"></div>
                <div class="grid-item"><img src="portfolio/6.png" alt="House 6"></div>
                <div class="grid-item"><img src="portfolio/7.png" alt="House 7"></div>
                <div class="grid-item"><img src="portfolio/8.png" alt="House 8"></div>
				<div class="grid-item"><img src="portfolio/9.png" alt="House 5"></div>
                <div class="grid-item"><img src="portfolio/10.png" alt="House 6"></div>
                <div class="grid-item"><img src="portfolio/11.png" alt="House 7"></div>
                <div class="grid-item"><img src="portfolio/12.png" alt="House 8"></div>
            </div>
        </div>
    </section>


</body>

</head>
	













<div class="content">
    <h2>Sacramento Siding Replacement & Installation</h2>
    <div class="content-body">
        <div class="content-left">
            <p>While every siding contractor may promise quality work, at MVM CUSTOM, the evidence is in every wood grain and natural stone pattern. Attention to detail is our hallmark, ensuring your house truly feels like home. With years of experience, skill, and insight, we deliver results that are nothing short of spectacular. Our standing as a top-notch, efficient, and affordable siding contractor is well-established across Sacramento and the Bay Area. Whether you're considering a minor update or a complete exterior makeover, MVM CUSTOM offers the expertise and dedication needed to enhance your home in Sacramento and the surrounding regions.</p>
        </div>
        <div class="content-right">
            <img src="https://images.ctfassets.net/79nimht05j33/2b5v4VFeZCfcqHiPlHnFG0/8db8f56fc5b57928320067217134f0ef/elite-preferred.png" alt="Elite Preferred Contractor">
        </div>
    </div>
</div>



































	<section class="bg-section" id="blog">
		<div class="section-h1">
			<h1><a href="blog.html">Blog</a></h1>
			<hr class="hr-h1">
		</div>
        <div class="container-fluid">
		    <div class="row slideanim">
               
                <div class="post col-sm-4 col-md-4">
                	<div class="thumbnail">
		                <a href="post2.html" class="img-blog">
		                	<img src="https://www.luxurybath.com/img/pages/one-day-remodel.jpg" class="img-responsive" alt="blog1">
		               	</a>
		                <article class="post-desc">
		                   	<header class="header-blog">
		                      	<a href="post2.html"><h3 class="blog-h3">Top Shower Designs For Small Bathrooms</h3></a>
		                      	<p class="post-meta">
		                        	by <a href="post2.html"><span class="posted">John Smith </span></a> on <a href="post2.html"><span class="posted"> January 1st, 2017</span></a>
		                      	</p>
		                    </header>
		                    <p class="text-blog">
								The bathroom, much like the kitchen, is a sanctuary in many homes. It's where we start our day, refresh, and rejuvenate.
		                      	<a href="post2.html"><span class="badge-more">More</span></a>
		                    </p>
		                </article>
		            </div>
                </div>
               
                <div class="post col-sm-4 col-md-4">
                	<div class="thumbnail">
		                <a href="post.html" class="img-blog">
		                   	<img src="https://spdc.net/wp-content/uploads/2024/06/Image-13.jpg" class="img-responsive" alt="blog2">
		                </a>
		                <article class="post-desc">
		                    <header class="header-blog">
		                      	<a href="post.html"><h3 class="blog-h3"> 7 Signs It’s Time to Remodel Your Kitchen</h3></a>
		                      	<p class="post-meta">
		                        	by <a href="post.html"><span class="posted">John Smith </span></a> on <a href="post.html"><span class="posted"> January 1st, 2017</span></a>
		                      	</p>
		                    </header>
		                    <p class="text-blog">
								It goes without saying that the areas of your home that you use the most are going to wear out the fastest
		                      	<a href="post.html"><span class="badge-more">More</span></a>
		                    </p>
		                </article>
		            </div>
                </div>
                
                <div class="post col-sm-4 col-md-4">
                	<div class="thumbnail">
		                <a href="post4.html" class="img-blog">
		                    <img src="https://cdn11.bigcommerce.com/s-u81rarrvlz/product_images/uploaded_images/safe-work-method-statement-for-painting.jpg" class="img-responsive" alt="blog3">
		                </a>
		                <article class="post-desc">
		                    <header class="header-blog">
		                      	<a href="post4.html"><h3 class="blog-h3">How to Pick Exterior Paint Colors</h3></a>
		                      	<p class="post-meta">
		                        	by <a href="post4.html"><span class="posted">John Smith </span></a> on <a href="post4.html"><span class="posted"> January 1st, 2017</span></a>
		                      	</p>
		                    </header> 
		                    <p class="text-blog">
		                    	Painting the outside of your home and choosing which colors will boost your curb appeal can be daunting
		                      	<a href="post4.html"><span class="badge-more">More</span></a>
		                    </p>
		                </article>
		            </div>
                </div>
                <!-- /.post -->
            </div>    
		</div>
    </section>

	<section class="bg-section" id="testimonials">
		<div class="section-h1">
			<h1>Testimonials</h1>
			<hr class="hr-h1">
		</div>
        <div class="container-fluid">
            <div class="row projects">
            	<div class="result-contatiner">
	                <div class="grid">
	 					<div class="result small slideanim">
	                		<div class="text">
	                			<p>Working with MVM CUSTOM  was a fantastic experience. Their attention to detail and commitment to quality exceeded all our expectations.</p>
                                <p>-Kacy-</p>

                            </div>
	                	</div>
	                	<div class="result big slideanim">
	                		<div class="text">
	                			<p>We are extremely satisfied with the renovation of our office space. The team was professional, timely, and delivered exactly what we wanted.</p>
                                <p>-Austin-</p>
                            </div>
	                	</div>
	                	<div class="result big slideanim">
	                		<div class="text">
	                			<p>MVM CUSTOM turned our dream home into a reality. The entire process from start to finish was seamless.</p> 
                                <p>-Josh-</p>
                            </div>
	                	</div>
	                	<div class="result small slideanim">
	                		<div class="text">
	                			<p>The quality of work and the level of service provided by MVM CUSTOM are outstanding. We highly recommend them for any construction project.</p>
                                <p>-Matt-</p>
                            </div>
	                	</div>
	                </div>
	            </div>
            </div>
        </div>       
    </section>

    <section class="bg-section" id="contact">
    	<div class="section-h1">
    		<h1>Contact</h1>
    		<hr class="hr-h1">
    	</div>
    	<div class="contact-section">
			<div class="container-fluid container-split">
				<div class="row contacts slideanim">
					<div class="col-md-4 col-sm-4">
						<div class="cont-box contact-address">
				  			<h4>Address</h4>
				  			<hr class="hr-contact">
				  			<div class="text">
							  	<p>Auburn Blvd, Sacramento, CA 95841<br>
							  	</p>
							</div>
				  		</div>
			  		</div>
			  		<div class="col-md-4 col-sm-4">
			  			<div class="cont-box contact-hours">
			  				<h4>Open hours</h4>
			  				<hr class="hr-contact">
			  				<div class="text">
						  		<p>Mon-Fri: 9:00am - 8:00pm<br>
						  		Sat-Sun: Closed</p>
						  	</div>
				  		</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="cont-box contact-contact">
							<h4>Contact</h4>
							<hr class="hr-contact">
	                            <button type="button" class="btn btn-form text-center" id="more" data-toggle="collapse" data-target="#demo"><span class="caret"></span>  Form
	                            </button>
	                       
	                            <div id="demo" class="collapse form-dropdown">  
	                                <div ng-app="formApp" class="form-app">
				                        <div ng-controller="formController">
				                            <form novalidate action="mvmcustom.inc@gmail.com" name="frm" method="post">
				                                <div class="form-group first-name">
				                                    <label class="sr-only">First name:</label>
				                                    <input type="text" name="name" ng-model="user.name" class="form-control" placeholder="First name" required>
				                                    <span ng-show="frm.name.$dirty && frm.name.$error.required">*</span>
				                                </div>
				                                <div class="form-group">
				                                    <label class="sr-only">Last name:</label>
				                                    <input type="text" name="surname" ng-model="user.surname" class="form-control" placeholder="Last name" required>
				                                    <span ng-show="frm.surname.$dirty && frm.surname.$error.required">*</span>
				                                </div>
				                                <div class="form-group">
				                                    <label class="sr-only">Email:</label>
				                                    <input type="email" name="email" ng-model="user.email" class="form-control"  placeholder="Email" required>
				                                    <span ng-show="frm.email.$dirty && frm.email.$error.required">*</span>
				                                </div>
				                                <div class="form-group">
				                                    <label class="sr-only" name="comment" for="comment">Comment:</label>
				                                    <textarea ng-model="user.comment" class="form-control" rows="5" id="comment" placeholder="Description"></textarea>
				                                </div>
				                                <div class="contact-buttons pull-left">
				                                    <button type="submit" name="submit" class="btn-two">Send</button>
				                                    <button type="reset" class="btn-two" ng-click="reset()">Reset</button>
				                                </div>
				                            </form>
				                        </div>
	                    			</div>
	                            </div>
	                        
						</div>
					</div>
				</div>

				<div class="row address-map">
					<div id="googleMap" style="height:300px;width:100%;"></div>

	                <!-- Add Google Maps -->
	                <script src="https://maps.googleapis.com/maps/api/js"></script>
	                <script>
	             var myCenter = new google.maps.LatLng( 38.7071, -121.28106);

	                function initialize() {
	                var mapProp = {
	                  center:myCenter,
	                  zoom:12,
	                  	styles: [
				            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
				            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
				            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},

				            {
				              featureType: 'administrative.locality',
				              elementType: 'labels.text.fill',
				              stylers: [{color: '#d59563'}]
				            },
				            {
				              featureType: 'poi',
				              elementType: 'labels.text.fill',
				              stylers: [{color: '#d59563'}]
				            },
				            {
				              featureType: 'poi.park',
				              elementType: 'geometry',
				              stylers: [{color: '#263c3f'}]
				            },
				            {
				              featureType: 'poi.park',
				              elementType: 'labels.text.fill',
				              stylers: [{color: '#6b9a76'}]
				            },
				            {
				              featureType: 'road',
				              elementType: 'geometry',
				              stylers: [{color: '#38414e'}]
				            },
				            {
				              featureType: 'road',
				              elementType: 'geometry.stroke',
				              stylers: [{color: '#212a37'}]
				            },
				            {
				              featureType: 'road',
				              elementType: 'labels.text.fill',
				              stylers: [{color: '#9ca5b3'}]
				            },
				            {
				              featureType: 'road.highway',
				              elementType: 'geometry',
				              stylers: [{color: '#746855'}]
				            },
				            {
				              featureType: 'road.highway',
				              elementType: 'geometry.stroke',
				              stylers: [{color: '#1f2835'}]
				            },
				            {
				              featureType: 'road.highway',
				              elementType: 'labels.text.fill',
				              stylers: [{color: '#f3d19c'}]
				            },
				            {
				              featureType: 'transit',
				              elementType: 'geometry',
				              stylers: [{color: '#2f3948'}]
				            },
				            {
				              featureType: 'transit.station',
				              elementType: 'labels.text.fill',
				              stylers: [{color: '#d59563'}]
				            },
				            {
				              featureType: 'water',
				              elementType: 'geometry',
				              stylers: [{color: '#17263c'}]
				            },
				            {
				              featureType: 'water',
				              elementType: 'labels.text.fill',
				              stylers: [{color: '#515c6d'}]
				            },
				            {
				              featureType: 'water',
				              elementType: 'labels.text.stroke',
				              stylers: [{color: '#17263c'}]
				            }



				        ],
	                  scrollwheel:false,
	                  draggable:false,
	                  mapTypeId:google.maps.MapTypeId.ROADMAP
	                  };

	                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

	                var marker = new google.maps.Marker({
	                  position:myCenter,
	                  });

	                marker.setMap(map);
	                }

	                google.maps.event.addDomListener(window, 'load', initialize);
	                </script>
				</div>
			</div> 
		</div>	   	
    </section>


	<div class="footer">
		<div class="logos">
			<a href="#"><img src="img/31.png" alt="JamesHardie"></a>
			<a href="#"><img src="img/32.png" alt="Amerimax"></a>
			<a href="#"><img src="img/33.png" alt="Andersen"></a>
			<a href="#"><img src="img/34.png" alt="Alside"></a>
			<a href="#"><img src="img/35.png" alt="LP Building Solutions"></a>
			<a href="#"><img src="img/36.png" alt="Anlin"></a>
			<a href="#"><img src="img/37.png" alt="Milgard"></a>
			<a href="#"><img src="img/38.png" alt="CertainTeed"></a>
		</div>
		<div class="footer-content">
			
		</div>
	</div>






	



	<footer class="bg-footer" id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-sm-4 text-center">
					<div class="footer-info footer-company">
						<h4>MVM CUSTOM INC</h4>
						<hr class="hr-footer" align="left">
						<p>
                            With years of experience in the industry, our team of skilled professionals is dedicated to ensuring every project is completed with the highest standards of quality, safety, and efficiency.

						</p>
						<div class=" footer-icons">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>	
				</div>

				<div class="col-md-4 col-sm-4 text-center">
					<div class="footer-info footer-contacts">
						<h4>Contact</h4>
						<hr class="hr-footer" align="left">
						<div class="contacts">
							<p><i class="fa fa-phone"></i> Phone: +1 279 900 7117</p>
            				<p><i class="fa fa-envelope"></i> Emal: mvmcustom.inc@gmail.com</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4 text-center">
					<div class="footer-info footer-links">
						<h4>Social icons</h4>
						<hr class="hr-footer" align="left">
						<ul class="nav-links">
					        <li><a href="#myPage">Home</a></li>
					        <li><a href="#about">About</a></li>
					        <li><a href="#service">Service</a></li>
					        <li><a href="#blog">Blog</a></li>
					        <li><a href="#contact">Contact</a></li>
					    </ul>
					</div>
				</div>
			</div>	
		</div>
	</footer>

	<a class="to-top" href="#myPage" title="toTop">
		<i class="fa fa-chevron-up"></i>
	</a>

	<div class="copyright">
		<p> © 2024  MVM CUSTOM, Inc. All Rights Reserved.
	</div>



<script src="js/script.js"></script>


<script>
    angular.module('formApp', [])
        .controller('formController', ['$scope', function($scope) {
          	$scope.master = {};

          	$scope.update = function(user) {
            	$scope.master = angular.copy(user);
          	};

          	$scope.reset = function() {
            	$scope.user = angular.copy($scope.master);
          	};

          	$scope.reset();
    }]);
</script> 

</body>
</html>	

